.sin {
  vanilla: 0deg 0;
  compass: 0deg 0;
  vanilla: 30deg 0.5;
  compass: 30deg 0.5;
  vanilla: 45deg 0.7071067812;
  compass: 45deg 0.7071067812;
  vanilla: 60deg 0.8660254038;
  compass: 60deg 0.8660254038;
  vanilla: 90deg 1;
  compass: 90deg 1;
  vanilla: 120deg 0.8660254038;
  compass: 120deg 0.8660254038;
  vanilla: 135deg 0.7071067812;
  compass: 135deg 0.7071067812;
  vanilla: 150deg 0.5;
  compass: 150deg 0.5;
  vanilla: 180deg -5.0e-10;
  compass: 180deg 0.0;
  vanilla: 210deg -0.5000000134;
  compass: 210deg -0.5;
  vanilla: 225deg -0.7071068379;
  compass: 225deg -0.7071067812;
  vanilla: 240deg -0.8660256229;
  compass: 240deg -0.8660254038;
  vanilla: 270deg -1.000002576;
  compass: 270deg -1;
  vanilla: 300deg -0.866048713;
  compass: 300deg -0.8660254038;
  vanilla: 315deg -0.7071713738;
  compass: 315deg -0.7071067812;
  vanilla: 330deg -0.5001706203;
  compass: 330deg -0.5;
  vanilla: 360deg -0.0010481828;
  compass: 360deg 0.0;
  vanilla: 405deg 0.7071067812;
  compass: 405deg 0.7071067812;
}

.cos {
  vanilla: 0deg 1;
  vanillb: 0deg NaN;
  compass: 0deg 1;
  vanilla: 30deg 0.8660254038;
  vanillb: 30deg 0.8660254038;
  compass: 30deg 0.8660254038;
  vanilla: 45deg 0.7071067812;
  vanillb: 45deg 0.7071067812;
  compass: 45deg 0.7071067812;
  vanilla: 60deg 0.5;
  vanillb: 60deg 0.5;
  compass: 60deg 0.5;
  vanilla: 90deg 0;
  vanillb: 90deg 0.0;
  compass: 90deg 0.0;
  vanilla: 120deg -0.5;
  vanillb: 120deg -0.5;
  compass: 120deg -0.5;
  vanilla: 135deg -0.7071067812;
  vanillb: 135deg -0.7071067812;
  compass: 135deg -0.7071067812;
  vanilla: 150deg -0.8660254038;
  vanillb: 150deg -0.8660254039;
  compass: 150deg -0.8660254038;
  vanilla: 180deg -1;
  vanillb: 180deg -1.0000000035;
  compass: 180deg -1;
  vanilla: 210deg -0.8660254038;
  vanillb: 210deg -0.8660254802;
  compass: 210deg -0.8660254038;
  vanilla: 225deg -0.7071067812;
  vanillb: 225deg -0.7071070837;
  compass: 225deg -0.7071067812;
  vanilla: 240deg -0.5;
  vanillb: 240deg -0.5000010949;
  compass: 240deg -0.5;
  vanilla: 270deg 5.0e-10;
  vanillb: 270deg -1.14329e-05;
  compass: 270deg 0.0;
  vanilla: 300deg 0.5000000134;
  vanillb: 300deg 0.4999069785;
  compass: 300deg 0.5;
  vanilla: 315deg 0.7071068379;
  vanillb: 315deg 0.7068614029;
  compass: 315deg 0.7071067812;
  vanilla: 330deg 0.8660256229;
  vanillb: 330deg 0.8654070203;
  compass: 330deg 0.8660254038;
  vanilla: 360deg 1.000002576;
  vanillb: 360deg 0.9965213898;
  compass: 360deg 1;
  vanilla: 405deg 0.7071067812;
  vanillb: 405deg 0.7071067812;
  compass: 405deg 0.7071067812;
}

.tan {
  vanilla: 0deg 0;
  compass: 0deg 0;
  vanilla: 30deg 0.5773502692;
  compass: 30deg 0.5773502692;
  vanilla: 45deg 1;
  compass: 45deg 1.0;
  vanilla: 60deg 1.7320508076;
  compass: 60deg 1.7320508076;
  vanilla: 90deg Infinity;
  compass: 90deg 16331239353195370;
  vanilla: 120deg -1.7320508076;
  compass: 120deg -1.7320508076;
  vanilla: 135deg -1.0;
  compass: 135deg -1.0;
  vanilla: 150deg -0.5773502692;
  compass: 150deg -0.5773502692;
  vanilla: 180deg 5.0e-10;
  compass: 180deg 0.0;
  vanilla: 210deg 0.5773502846;
  compass: 210deg 0.5773502692;
  vanilla: 225deg 1.0000000802;
  compass: 225deg 1.0;
  vanilla: 240deg 1.7320512458;
  compass: 240deg 1.7320508076;
  vanilla: 270deg -1889913812.97609;
  compass: 270deg 5443746451065123;
  vanilla: 300deg -1.7320973797;
  compass: 300deg -1.7320508076;
  vanilla: 315deg -1.0000912676;
  compass: 315deg -1.0;
  vanilla: 330deg -0.5775471384;
  compass: 330deg -0.5773502692;
  vanilla: 360deg -0.0010481801;
  compass: 360deg 0.0;
  vanilla: 405deg 1.0;
  compass: 405deg 1.0;
}

/*@ sourceMappingURL=math_test.css.map */